body {
    width: 100%;
    max-width: 56em;
    /*margin: 50px 0;*/
    margin-left: auto;
    margin-right: auto;
    padding: 20pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color:#fffcfa;
}

input,
textarea,
code {
    background-color: #EEE;
    border-radius: 3px;
    padding: 0px 2px 0px 2px;
    font-family: courier, monospace;
    font-size: 14px;
    font-weight: lighter;
}

pre {
    white-space: pre-wrap;
    background-color: #EEE;
    border-radius: 3px;
}

.reduceseq {
    padding-left: 10px;
}

h1 { font-weight: 300; font-size: 48px; margin: 6pt 0pt 6pt 0pt; }
h2 { font-weight: 300; font-size: 32px; margin: 4pt 0pt 4pt 0pt; }
h3 { font-weight: 300; font-size: 24px; margin: 4pt 0pt 4pt 0pt; }

hr { color: #DDD; border-width: 0.8px }

a { text-decoration: none; color: #2980b9; }

div.sidebar { width: 200px; float: left; vertical-align: top; margin-left: 50px; }
div.main { vertical-align: top; margin-left: 300px; margin-right: 50px; }

div.picture { margin: 15px 0; }
div.contact { font-size: 16px; }
div.name { }
div.pub { margin: 12px 0; }

div.contact dt::before,
div.contact dt::after {
  content: '';
  flex: 1;
  border-bottom: 0.5px solid #AAA;
}
div.contact dt:not(:empty)::before { margin-right: .25em; }
div.contact dt:not(:empty)::after { margin-left: .25em; }
div.contact dt {
    margin-top: 15px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    text-align: center;
}
div.contact dd { margin-left: 0px;}

div.lastupdated { font-size: 12px; }

.smallbutton {
    position: relative;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    padding: 0px 5px 0px 5px;
    border: solid 1px #2980b9;
    color: #2980b9;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 2px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #2980b9;
    color: #2980b9;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    /*border: solid 1px #2980b9;*/
    /*color: #2980b9;*/
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 2px 6px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
